<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Reviews & Info about the Technological products
      </p>
    </div>
    <div class="row">
      <p>
        
      </p>
    </div>
  </div>
  <div>
    <h2>Welcome to TechReview</h2>
    <p>TechReview is entirely based on the Reviews & Info about the Technological products such as Mobiles, Cars, Laptops etc. Moreover, it would also include the Info & guidance about the new arriving technologies such as programming languages, communication technologies (4G,5G) etc.</p>
    
    <ul>
       <li>
      TechReview is fully concerned about making user to understand and gather the Info about their required products
      </li>
      <li>
        Programming Languages are also included to provide the users a learning platform.
      </li>
      <li>
      User’s interaction and their personal review about the product would also be included to facilitate the users.
      </li>
     
    </ul>
  </div>

  <div class="row">
    <div ng-repeat="article in vm.articles"  class="col-md-3">
      <a ui-sref="articles.view({ articleId: article._id })"><h2>{{article.title}}</h2></a>
      <p>{{article.content | limitTo:250 }}...</p>
      <a ui-sref="articles.view({ articleId: article._id })">See More</a>
    </div>
  </div>
  <div class="clearfix"></div>
  
</section>
